@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

img {
  max-width: 100%;
  max-height: 100%;
}
a {
  text-decoration: none;
  color: black;
}
header {
  padding: 15px;
  display: flex;
  top: 0;
  justify-content: space-between;
  height: 90px;
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: #f5f5f5;
}
.title_booking {
  font-weight: 500;
  font-size: 35px;
  align-self: center;
  margin-left: 15px;
  font-family: "Festive", cursive;
}
.left_header {
  display: flex;
}
.right_header {
  display: flex;
  align-self: center;
}
.logo {
  width: 90px;
  height: 90px;
}
.block_bgAvatar {
  display: inline-block;
  border: 2px solid #3ac5c9;
  width: max-content;
  padding: 2px 5px;
  display: flex;
  text-decoration: none;
  color: #1f273f;
  border-radius: 20px;
  align-items: center;
  background-color: #ffffff;
  transition: 0.5s;
  height: 40px;
}
.block_bgAvatar:hover {
  background-color: RGBA(59, 197, 200, 0.2);
}
.block_bgAvatar p {
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  margin-left: 5px;
}
.bgAvatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-width: 10px;
}
.menu_header {
  display: flex;
}

.menu_header li {
  background-color: #fff;
  border: 1px solid #3ac5c9;
  border-radius: 50%;
  margin-left: 10px;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.menu_header li:hover {
  background-color: RGBA(59, 197, 200, 0.2);
}
.menu_header i {
  color: #3ac5c9;
}

.search {
  position: relative;
  width: 400px;
  margin-left: 40px;
  height: 40px;
  align-self: center;
}
.search i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 13px;
}
.search input {
  width: 100%;
  height: 100%;
  border: 1px solid #3ac5c9;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  padding-left: 35px;
}

/* --------------body--------- */
.main_top {
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 90px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 15px;
  border-top: 1px solid #3ac5c9;
  border-bottom: 1px solid #3ac5c9;
}

.main_top-left {
  display: flex;
  font-family: "Roboto", sans-serif;
}
.main_top-left a {
  align-self: center;
  color: black;
  margin-top: -4px;
}
.main_top-left i {
  font-size: 20px;
}
.main_top-left h3 {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 400;
}

.main_top-right {
  display: flex;
}
.main_top-right a {
  color: #888ea8;
  font-size: 14px;
  text-decoration: none;
  margin-left: 3px;
}

/* slidebar */
.slide_bar {
  width: 250px;
  padding: 15px;
  padding-top: 20px;
  position: fixed;
  top: 140px;
  border-right: 1px solid #3ac5c9;
  height: 100vh;
  z-index: 2;
  transform: translateX(-100%);
  transition: 0.5s;
}
.slide_bar.active {
  transform: translateX(0%);
}
.slide_bar-item a.active {
  display: flex;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px 20px;
  box-shadow: 2px 3px RGBA(59, 197, 200, 0.5);
}
.slide_bar-item a {
  display: flex;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px 20px;
  transition: 0.5s;
}
.slide_bar-item a:hover {
  display: flex;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: RGBA(59, 197, 200, 0.5);
}
.slide_bar-item i {
  color: #3ac5c9;
  margin-right: 10px;
  font-size: 13px;
  align-self: center;
}

.slide_bar-item p {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  align-self: center;
}

/* ---------Quản lý chung--------------- */

.main_content-wrap {
  margin-top: 140px;
  background-color: #fff;
  padding: 15px;
  transition: 0.5s;
  width: 100%;
}

.main_content-wrap.active {
  transform: translateX(250px);
  width: calc(100% - 250px);
}
.main_content {
  display: none;
}
.main_content.active {
  display: block;
}
.total {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.total-item {
  display: flex;
  align-items: center;
  padding: 30px 20px;
  border-radius: 20px;
  justify-content: space-between;
}
.total-item:nth-child(1) {
  background-image: linear-gradient(to right, #59bcff, #59cfff);
}
.total-item:nth-child(2) {
  background-image: linear-gradient(to right, #49d994, #53f097);
}
.total-item:nth-child(3) {
  background-image: linear-gradient(to right, #feb765, #fed87d);
}
.total-item:nth-child(4) {
  background-image: linear-gradient(to right, #ff6c58, #fea771);
}
.total-item h4 {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 700;
}

.total-item p {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 18px;
}
.total-item i {
  color: white;
  font-size: 30px;
  margin-right: 20px;
}

.chart {
  margin-top: 40px;
  width: 49%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  row-gap: 80px;
  grid-auto-rows: auto;
}

.order_manager {
  margin-top: 40px;
  border-radius: 5px;
  border: 1px dotted gray;
  padding: 20px 10px;
}

.order_manager h3 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 600;
}
.order_manager table {
  width: 100%;
}

.order_manager th {
  background-color: #3ac5c9;
  font-family: "Roboto", sans-serif;
  color: white;
  padding: 15px;
}

.order_manager th:first-child {
  text-align: left;
}

.order_manager td {
  padding: 15px;
  cursor: pointer;
}

.order_manager td:not(:first-child) {
  text-align: center;
}

.order_manager tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.order_manager tr:hover {
  background-color: RGBA(59, 197, 200, 0.2);
}
.total_order {
  text-align: right;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 20px;
  color: #3ac5c9;
  font-weight: 700;
}

.total1month {
  margin-top: 40px;
}

/* =============Sân============== */
.main_content .title_block {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}
.main_content .title_block .createBtn {
  color: #3ac5c9;
  background-color: white;
  border: 1px solid #3ac5c9;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 20px;
}
.main_content .title_block .createBtn:hover {
  color: white;
  background-color: #3ac5c9;
  border: 1px solid #3ac5c9;
}
.main_content .title {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #1f273f;
}

.listPitch thead th {
  background-color: #3ac5c9;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
  padding: 20px 10px;
  align-self: center;
}
.listPitch tbody td {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 10px;
  text-align: center;
}
.listPitch tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.listPitch tbody td:first-child {
  display: flex;
  width: max-content;
  align-items: flex-end;
}
.listPitch tbody td:nth-child(2) {
  width: 180px;
}
.listPitch tbody td:nth-child(3) {
  width: 180px;
}
.listPitch tbody td:nth-child(4) {
  width: 180px;
}
.listPitch tbody td:nth-child(5) {
  display: flex;
}
.listPitch tbody td:last-child {
  cursor: pointer;
  width: 80px;
}
.listPitch tbody td:nth-child(5) p {
  margin-right: 10px;
}
.listPitch tbody .imgTable {
  width: 210px;
  height: 120px;
  margin-right: 10px;
}

.listPitch tbody td:first-child p {
  font-weight: 500;
}
.editBtn {
  color: #3ac5c9;
  border: 1px solid #3ac5c9;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.editBtn:hover {
  background-color: #3ac5c9;
  color: white;
}
.deleteBtn {
  border: 1px solid red;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: red;
  width: 80px;
  transition: 0.5s;
}
.deleteBtn:hover {
  background-color: red;
  color: white;
}
.listPitch tbody img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* =============Quản lý sân===========*/
.listManagerBook tbody td:nth-child(5) {
  flex-direction: column;
  width: 180px;
}
.listManagerBook tbody td:nth-child(5) p {
  margin-bottom: 5px;
}
.listManagerBook tbody td:nth-child(6) {
  width: 180px;
}
.listManagerBook tbody td:nth-child(7) {
  width: 180px;
}

.listManagerBook tbody td:nth-child(7) .deleteBtn {
  margin-top: 10px;
  width: 100%;
}

/* =============Khách hàng===============*/
.listGuest thead th:nth-child(1) {
  width: 180px;
  text-align: left;
}
.listGuest tbody td:nth-child(5) {
  width: 180px;
  display: block;
}
.listGuest tbody td:nth-child(5) p {
  margin-bottom: 5px;
}
.listGuest tbody td:nth-child(6) {
  width: 180px;
}
.listGuest tbody td:nth-child(6) .deleteBtn {
  margin-top: 10px;
  width: 100%;
}

.listGuest tbody td:last-child input {
  border: 1px solid black;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
}

.confirmBtn {
  color: green;
  border: 1px solid green;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 10px;
}
.confirmBtn:hover {
  background-color: green;
  color: white;
}

/* ====================Setting================= */
.logOutBtn {
  color: #3ac5c9;
  border: 1px solid #3ac5c9;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.5s;
  width: max-content;
  background-color: white;
}

.logOutBtn:hover {
  background-color: #3ac5c9;
  color: white;
}

.switch {
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 25px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 100rem;
  transition: background-color 0.25s linear;
  border: 1px solid #3ac5c9;
  right: 120px;
}
.switch:after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #3ac5c9;
  top: 3px;
  left: 5px;
  transition: background-color 0.25s linear, transform 0.25s linear;
}
.switch-input {
  display: none;
}
.switch-input:checked + .switch {
  background-color: #3ac5c9;
}
.switch-input:checked + .switch:after {
  transform: translateX(100%);
  background-color: white;
}

/* ================Cài đặt================= */
.text_subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin-top: 20px;
}

.setting h2 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-top: 15px;
}
.setting input {
  margin-left: 10px;
  border: 1px solid #3ac5c9;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 5px 10px;
  width: 350px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.avtSetting {
  width: 200px;
  object-fit: cover;
  height: 200px;
  position: absolute;
  right: 100px;
  top: 50px;
  border-radius: 50%;
}

#camera {
  position: absolute;
  top: 220px;
  right: 100px;
  cursor: pointer;
}

.noti_block {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.noti_block p {
  margin-top: 10px;
  width: 600px;
  line-height: 1.5;
}
.saveBtn {
  color: white;
  background-color: #3ac5c9;
  border: 1px solid #3ac5c9;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.5s;
  width: 97px;

  margin-right: 10px;
}
.saveBtn:hover {
  border: 1px solid #3ac5c9;
  background-color: white;
  color: #3ac5c9;
}
